@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.main-header .header-cover
		height: 670px
		h1
			font-size: 2.3em
			margin-top: 65px
		.slogan
			font-size: 1em
		.big-box
			margin-top: 35px
	.main-header .advantage-wrap .advantage .advantage-item
		max-width: 290px
	.advantage-slider .slider-wrapper
		width: 490px
		.advantage-slider-item
			font-size: 14px
		.advantage-slider-item-01
			left: -240px
			top: -90px
		.advantage-slider-item-02
			right: -238px
			top: -90px
		.advantage-slider-item-03
			right: -215px
			top: 200px
		.advantage-slider-item-04
			bottom: -50px
		.advantage-slider-item-06
			left: -335px
			top: 200px
		.advantage-slider-item-05
			left: -279px
	.calculate-form ul.tab-nav li
		font-size: 1em
		line-height: 1
	.calculate-form .tab-content .file-attach label
		font-size: 0.875em
	.main-footer .footer-nav ul li
		margin-left: 15px
// ≥992px
+media-breakpoint-down(md)
	.main-header .header-cover h1
		font-size: 2em
	a.btn
		padding-left: 30px
		padding-right: 30px
	.main-header .advantage-wrap .advantage .advantage-item
		max-width: 225px
		h3
			font-size: 1.2em
	.section-title
		font-size: 2em
	.advantage-slider
		padding-bottom: 50px
		.sub-title
			margin-bottom: 40px
		.slider-wrapper
			background: none
			margin: 0
			width: auto
			height: auto
			flex-direction: column
			.slide-title
				display: none
			.advantage-slider-item
				position: relative
				left: inherit
				right: inherit
				top: inherit
				bottom: inherit
				text-align: center
				margin-bottom: 20px
				p
					margin-bottom: 0
	.owl-carousel.owl-home, .calculate::after, .calculate::before, .cpa::after, .cpa::before
		display: none
	.calculate
		padding: 60px 0
	.calculate-form .tab-content
		padding: 40px
		.more, .form-btn-description
			font-size: 1em
		.file-attach
			display: block
		.result-title
			font-size: 2em
		.result-info
			padding-left: 40px
			background-size: 30px
	#contact-section
		padding-top: 80px
		.content-map li .title
			text-transform: capitalize
			margin-bottom: 15px
		.content-map li p
			font-size: 1.2em
		.sub-title
			margin-bottom: 40px
	.about
		padding: 30px 0
	.main-footer .footer-nav ul li
    margin-left: 2px
    font-size: 14px
// ≥768px
+media-breakpoint-down(sm)
	a.logo
		font-size: 1.250em
		text-transform: capitalize
		img
			max-width: 43px
	.main-header .header-cover
		text-align: center
		height: auto
		&:before
			bottom: 0
			top: auto
			width: 100%
			height: 50%
			background: linear-gradient(to bottom right,#dfe2e9 50%,#fff 0%,#fff 100%)
		.big-box
			margin-top: 0
		.contact
			font-size: 0.563em
			.phone
				font-size: 1.778em
		h1
			font-size: 1.5em
			margin: 25px 0 9px
		.slogan
			font-size: 0.625em
			margin-bottom: 20px
	.main-header .advantage-wrap
		top: 0
		margin-bottom: 0
		.advantage
			flex-direction: column
			.advantage-item
				box-shadow: none
				max-width: 100%
				width: 100%
				background: none
				text-align: center
				padding: 0
				margin: 0 0 37px
				h3
					font-size: 1.250em
					margin-bottom: 0
				&::before, p
					display: none
	a.btn
		font-size: 1em
		padding: 8px 30px
	.advantage-slider
		padding-top: 30px
	.section-title
		font-size: 1.500em
	.sub-title, .advantage-slider .slider-wrapper .advantage-slider-item p
		font-size: 0.875em
	.product-item
		margin-bottom: 50px
	.products
		padding-bottom: 30px
	.cpa
		padding: 35px 0
		.sub-title
			margin-bottom: 15px
		.form-send-phone
			height: 30px
			input[type="tel"]
				padding: 0 15px
				font-size: 0.625em
			button
				font-size: 0.875em
				padding: 0 15px
	.shipping-wrapper
		padding: 52px 0 100px
		.shipping .shipping-content
			width: 100%
			height: 100%
			padding: 30px
			img
				width: 34px
				margin-bottom: 15px
			.section-title
				font-size: 1.250em
				font-weight: 500
				margin-bottom: 5px
			.sub-title
				font-size: 0.875em
	#ya-map
		display: none
	#contact-section .content-map li
		margin-bottom: 20px
		.title, p
			font-size: 0.875em
			font-weight: normal
	#contact-section .callback
		margin-top: 20px
		justify-content: center
		.after-btn
			display: none
		.btn
			background: none
			border: 2px solid #FFBE2E
			box-shadow: 0px 4px 30px rgba(239, 180, 49, 0.3)
			font-weight: 500
			font-size: 1.250em
			padding: 15px 30px
	.about a.logo
		display: none
	.about h3
		font-size: 1.250em
	.about p
		font-size: 0.875em
	.calculate-form
		background: none
		ul.tab-nav
			display: none
		.tab-content
			padding: 0
			.more
				display: none
			.form-btn
				background-color: #fff
			.result-title
				font-size: 1.500em
				margin-bottom: 10px
			.result-p
				margin-bottom: 20px
				font-size: 1em
			.result-info
				padding: 0
				h4
					padding-left: 40px
				p
					font-size: 0.875em
	.calculate-form .tab-content input[type="mail"], .calculate-form .tab-content input[type="number"], .calculate-form .tab-content input[type="tel"], .calculate-form .tab-content input[type="text"]
		text-align: center
		font-size: 14px
	.main-footer
		height: auto
		.footer-nav
			padding-top: 11px
			ul li
				display: block
				margin: 0
				a::after
					display: none
// ≥576px
+media-breakpoint-down(xs)
	.main-header .advantage-wrap .advantage .advantage-item img
		width: 30px
	.product-item .img img
		max-width: 200px
	.main-footer .footer-nav, .main-footer a.logo
		float: none
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
