@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import "vars"
// @import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/* links */
a:link, a:visited
	color: $text
	outline: none
	text-decoration: none
a:hover
	color: $text

// HEADER
.main-header
	position: relative
	.header-cover
		position: relative
		background-color: #dfe2e9
		height: 781px
		padding-top: 25px
		&:before
			content: ''
			position: absolute
			right: 0
			top: -150%
			width: 65%
			height: 250%
			background: linear-gradient(to bottom right,#dfe2e9 50%,#e6e9ed 0%,#bcc0c6 100%)
		a.logo
			float: left
		.contact
			float: right
			font-size: 1.125em
			text-align: right
			line-height: 1.4
			.phone
				display: block
				font-size: 1.333em
				font-weight: bold
		h1
			font-weight: 900
			font-size: 3.250em
			line-height: 1.15
			margin-top: 117px
			margin-bottom: 25px
		.slogan
			color: #333
			font-weight: 500
			font-size: 1.125em
			line-height: 1.55
			margin-bottom: 64px
		.big-box
			margin-top: 90px
			max-width: 100%
	.advantage-wrap
		position: relative
		width: 100%
		top: -179px
		margin-bottom: -179px
		.advantage
			display: flex
			justify-content: space-between
			align-items: flex-start
			.advantage-item
				background: #FCFCFC
				box-shadow: 0px 0px 15px rgba(26, 26, 26, 0.1)
				border-radius: 4px
				max-width: 330px
				padding: 43px 30px 45px
				margin-top: 80px
				height: auto
				transition: $trans
				position: relative
				&::before
					content: ''
					position: absolute
					display: block
					box-shadow: 0px 10px 40px rgba(255, 190, 46, 0.4)
					width: 70%
					height: 100%
					left: 50%
					top: 0
					margin-left: -35%
					z-index: -10
				&.active
					margin-top: 0
				img
					margin-bottom: 19px
				h3
					font-weight: 500
					font-size: 1.500em
					line-height: 1.38
					margin-bottom: 15px
				p
					font-size: 0.875em
					opacity: 0.8
					line-height: 1.58
					margin-bottom: 0
// END HEADER

// ADVANTAGE SLIDER
.advantage-slider
	padding: 110px 0 160px
	.slider-wrapper
		width: 567px
		height: 509px
		background: url(../img/slider-bg.png) center center no-repeat
		margin: 117px auto 0
		position: relative
		display: flex
		align-items: center
		justify-content: center
		.slide-title
			position: absolute
			bottom: -50px
			opacity: 0.5
			font-size: 1.125em
		.advantage-slider-item
			position: absolute
			h3
				font-weight: 500
				font-size: 1.250em
				margin-bottom: 10px
			p
				line-height: 1.58
				opacity: .8
			h3, p
				text-transform: uppercase
		.advantage-slider-item-01
			left: -310px
			top: -70px
		.advantage-slider-item-02
			right: -310px
			top: -68px
		.advantage-slider-item-03
			right: -240px
			top: 207px
		.advantage-slider-item-04
			right: -216px
			bottom: -30px
		.advantage-slider-item-05
			left: -315px
			bottom: -45px
		.advantage-slider-item-06
			left: -376px
			top: 184px
.owl-home
	width: 380px
	height: 380px
	border-radius: 50%
	overflow: hidden
	margin-top: -8px
	.owl-dots
		position: absolute
		bottom: 30px
		width: 100%
		text-align: center
		.owl-dot
			width: 14px
			height: 14px
			display: inline-block
			background-color: #C4C4C4
			border-radius: 50%
			margin: 0 6.5px
			&.active
				background-color: #626262
// END ADVANTAGE SLIDER

// PRODUCTS
.products
	padding-bottom: 63px
	.container
		max-width: 1195px
	.sub-title
		margin-bottom: 64px
.product-item
	display: block
	text-align: center
	margin-bottom: 30px
	&.active .img
		position: relative
		&::before
			border: 3px solid rgba(255, 207, 163, 0.5)
			animation: flicker 2.2s infinite ease-in-out
		&::after
			border: 2px solid rgba(255, 207, 163, 0.3)
			animation: flickerTwo 2.2s infinite ease-in-out
	.img
		border: 4px solid #FFCFA3
		position: relative
		margin-bottom: 35px
		display: inline-block
		&, img, &::before, &::after
			border-radius: 50%
		&::before, &::after
			content: ''
			display: block
			position: absolute
			z-index: -10
		img
			max-width: 100%
	.title
		text-transform: uppercase
		display: block
	.title, .btn
		font-size: 1.125em
		font-weight: bold
	.btn
		margin: 20px auto 0
		width: 226px
		height: 50px
		display: flex
		justify-content: center
		align-items: center
		border-radius: 3px
		box-shadow: 0px 2.84138px 21.3103px rgba(239, 180, 49, 0.3)
		border: 2px solid $accent
		transition: $trans
		&:hover
			background-color: $text
			color: $accent
			border-color: $text
@keyframes flicker
	from
		width: 100%
		height: 100%
		left: 0
		top: 0
		opacity: 0
	70%
		width: 109%
		height: 109%
		left: -4.5%
		top: -4.5%
		opacity: 1
	to 
		width: 100%
		height: 100%
		left: 0%
		top: 0%
		opacity: 0
@keyframes flickerTwo
	from
		width: 100%
		height: 100%
		left: 0
		top: 0
		opacity: 0
	65%
		width: 116%
		height: 116%
		left: -8%
		top: -8%
		opacity: 1
	to 
		width: 100%
		height: 100%
		left: 0%
		top: 0%
		opacity: 0
// END PRODUCTS

// CPA
.cpa
	position: relative
	background: #2D2D2D url("../img/cpa-bg.png") center center no-repeat
	color: #fff
	padding: 72px 0 81px
	&:hover::before
		left: 80px
	&:hover::after
		right: 320px
	&:hover::before, &:hover::after
		transform: scale(.9, .9)
	&::before, &::after
		content: ''
		display: block
		background: url("../img/cpa-bg-before.png") 0 0 no-repeat
		width: 89px
		height: 94px
		position: absolute
		transition: $trans
	&::before
		left: 40px
		top: -40px
	&::after
		bottom: -47px
		right: 270px
		transform: rotate(24deg)
	.section-title
		margin-bottom: 21px
	.sub-title
		margin-bottom: 42px
	.form-send-phone
		display: flex
		height: 50px
		justify-content: center
		button, input[type="tel"]
			border-radius: 4px
			border: none
		input[type="tel"]
			background-color: #fff
			font-size: 0.875em
			font-weight: 500
			padding: 0 94px 0 30px
		button
			background-color: $accent
			cursor: pointer
			box-shadow: 0px 4px 30px rgba(239, 180, 49, 0.3)
			font-weight: bold
			font-size: 1.125em
			margin-left: -5px
			padding: 0 55px
			transition: $trans
			&:hover
				background-color: $text
				color: $accent
				box-shadow: none
// END CPA

// SHIPPING
.shipping-wrapper
	padding: 100px 0
	position: relative
	display: flex
	justify-content: center
	align-items: center
	min-height: 100vh
	overflow: hidden
	&.active .line-shipping
		opacity: 1
	.line-shipping
		position: absolute
		border-radius: 100px
		transform: rotate(33.69deg)
		opacity: 0
		transition-property: all
		transition-timing-function: ease-in
		img
			transform: rotate(-33.69deg)
			position: absolute
			visibility: hidden
			transition: all .8s ease
			&.active
				visibility: visible
	.line-one
		width: 850px
		height: 125px
		left: -730px
		bottom: 45px
		transition-duration: .4s
		img
			right: 100%
			margin-top: -55px
			transition-delay: .1s
			&.active
				right: 150px
	.line-one, .line-five
		background: linear-gradient(89.77deg, rgba(46, 117, 255, 0.34) 10.55%, rgba(46, 117, 255, 0.07) 79.4%)
	.line-two
		left: -740px
		bottom: 120px
		width: 1263.89px
		height: 185.11px
		background: linear-gradient(89.77deg, rgba(255, 190, 46, 0.71) 10.55%, rgba(255, 190, 46, 0.06) 79.4%)
		transition-duration: .55s
		img
			left: -100%
			margin-top: -22px
			transition-delay: .2s
			&.active
				left: 430px
	.line-three
		left: -500px
		bottom: 200px
		width: 1391.29px
		height: 125.23px
		background: linear-gradient(89.63deg, rgba(46, 117, 255, 0.19) 10.55%, rgba(46, 117, 255, 0.06) 79.4%)
		transform: rotate(-146.31deg)
		transition-duration: .7s
		img
			transform: rotate(146.31deg)
			margin-top: -12px
			left: 100%
			transition-delay: .3s
			&.active
				left: 60px
	.line-thour
		left: -200px
		bottom: 230px
		width: 1341.91px
		height: 125.23px
		background: linear-gradient(90.11deg, rgba(255, 190, 46, 0.41) 10.54%, rgba(255, 190, 46, 0.05) 101.89%)
		transform: rotate(-147.05deg)
		transition-duration: .85s
		img
			transform: rotate(147.05deg)
			top: 30px
			right: -100%
			transition-delay: .4s
			&.active
				right: 120px
	.line-five
		left: 420px
		bottom: 240px
		width: 713.08px
		height: 125.23px
		transition-duration: 1s
		&, img
			transform: matrix(-0.85, -0.52, -0.52, 0.85, 0, 0)
		img
			top: -78px
			right: -100%
			transition-delay: .5s
			&.active
				right: 110px
	.shipping
		position: relative
		.shipping-content
			width: 571px
			height: 571px
			background: #fff
			border: 4px solid $accent
			border-radius: 50%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			text-align: center
			position: relative
			background-color: #fff
			img
				margin-bottom: 33px
			.section-title
				margin-bottom: 15px
			.sub-title
				font-size: 1.125em
// END SHIPPING

// CALCULATE
.calculate
	background-color: rgba(255, 190, 46, 0.7)
	min-height: 100vh
	position: relative
	display: flex
	align-items: center
	padding: 100px 0
	&:hover::before, &:hover::after
		filter: blur(0)
	&::before, &::after
		content: ''
		display: block
		position: absolute
		background: url("../img/calculate-bg.png")
		background-repeat: no-repeat
		filter: blur(2px)
		transition: $trans
	&::before
		left: 40px
		top: -34px
		width: 316px
		height: 281px
	&::after
		top: -22px
		right: 82px
		width: 267px
		height: 216px
	.sub-title
		margin-bottom: 36px
.calculate-form
	background-color: #fff
	border-radius: 4px
	overflow: hidden
	ul.tab-nav
		margin: 0
		padding: 0
		list-style: none
		display: flex
		counter-reset: list
		li
			padding: 0 23px 0 44px
			background-color: #F3F3F3
			font-weight: 500
			color: #c0c0c0
			font-size: 1.125em
			width: 100%
			height: 100%
			cursor: pointer
			height: 60px
			display: flex
			align-items: center
			position: relative
			&::before
				counter-increment: list
				content: "0" counter(list)
				font-size: 1.500em
				font-weight: bold
				color: rgba(0, 0, 0, 0.2)
				margin-right: 11px
			&:last-child
				background-color: #ECECEC
				pointer-events: none
			&::after
				content: ''
				position: absolute
				right: -53px
				top: 0
				border: 30px solid transparent
				border-left: 23.5px solid #F3F3F3
				z-index: 100
			&.active
				background-color: #fff
				&::after
					border-left: 23.5px solid #fff
	.tab-content
		padding: 52px 83px 46px
		color: #333
		min-height: 411px
		.tab-content-item
			display: none
			&.active
				display: block
		.file-attach
			display: flex
			margin-bottom: 30px
			justify-content: space-between
			align-items: center
			label
				font-size: 1.125em
				line-height: 26px
				opacity: 0.8
				margin-bottom: 0
			.file-attach-btn
				width: 197px
				background: #f8f8f8
				border: 1px solid #dbe5f9
				border-radius: 4px
				height: 31px
				position: relative
				&:hover
					background: #f3f3f3
				#filename
					position: absolute
					font-size: 12px
					border: none
					background: none
					height: auto
					padding: 0
					margin: 0
				label
					display: flex
					justify-content: center
					align-items: center
					width: 100%
					height: 100%
					cursor: pointer
					font-weight: 500
					color: #4785fe
					font-size: 0.813em
					&:hover
				input[type="file"]
					display: none
		input[type="text"], input[type="number"], input[type="tel"], input[type="mail"], select
			display: block
			width: 100%
			border-radius: 4px
			border: 1px solid #7d7d7d
			background-color: #f8f8f8
			height: 56px
			margin-bottom: 32px
			padding: 0 33px
			font-size: 1.125em
			&:focus
				border-color: #82acff
		.form-btn
			display: flex
			align-items: center
			justify-content: center
			height: 56px
			border-radius: 4px
			font-weight: bold
			font-size: 1.125em
			background-color: $accent
			transition: $trans
			border: none
			width: 100%
			cursor: pointer
			margin-bottom: 30px
			&::after
				content: ''
				background: url("../img/arrow.svg") 0 0 no-repeat
				width: 55px
				height: 8px
				display: block
				margin-left: -55px
				position: relative
				right: -85px
			&:hover
				background-color: $text
				color: $accent
				&::after
					display: none
		.more
			color: #333
			opacity: 0.8
			font-size: 1.125em
			opacity: 0.8
			line-height: 1.2
			margin-bottom: 0
			a
				color: #545454
				font-weight: bold
		.form-btn-description
			color: #333
			opacity: 0.5
			font-size: 1.125em
			line-height: 1.2
			font-weight: 300
		.result-title
			font-weight: bold
			font-size: 2.250em
			margin-bottom: 20px
			line-height: 1.2
		.result-p
			font-weight: 500
			font-size: 1.250em
			margin-bottom: 128px
		.result-info
			position: relative
			background: url("../img/result-icon.svg") left top no-repeat
			padding-left: 75px
			h4
				font-weight: bold
				font-size: 1.250em
				margin-bottom: 22px
			p
				line-height: 1.44
				margin-bottom: 25px
// END CALCULATE

// CONTACT
#contact-section
	padding: 134px 0 59.5px
	.section-title
		margin-bottom: 0
	.sub-title
		margin-bottom: 98px
	.content-map
		margin: 0
		padding: 0
		list-style: none
		li
			line-height: 1
			margin-bottom: 48px
			&:last-child
				margin-bottom: 0
			.title
				font-weight: bold
				color: rgba(24, 24, 24, 0.3)
				text-transform: uppercase
				margin-bottom: 21px
				display: block
			p
				font-size: 1.500em
				margin-bottom: 0
	.callback
		margin-top: 48px
		display: flex
		align-items: center
		.btn
			cursor: pointer
			&:hover
				color: $accent
		.after-btn
			margin: 0 0 0 55px
			color: #333
			opacity: 0.6
			line-height: 1.48
			position: relative
			&::after
				content: ''
				position: absolute
				background: url("../img/arrow-blue.svg") 0 0 no-repeat
				width: 120px
				height: 38px
				display: block
				left: -90px
				bottom: -50px
// END CONTACT

// POPUP
.fancybox-is-open .fancybox-bg
	opacity: .5
.popup
	background: #333 url("../img/calculate-bg.png") center center no-repeat
	color: #fff
	border-radius: 4px
	padding: 30px 60px 50px
	max-width: 500px
	width: 100%
	overflow: hidden
	z-index: 100
	&, *
		-webkit-filter: blur(0) !important
	.fancybox-close-small
		color: #fff
		transition: $trans
		&:hover
			transform: rotate(90deg)
	h2
		text-align: center
		font-size: 2.5em
		margin-bottom: 30px
		font-weight: 300
		text-transform: uppercase
		letter-spacing: 2px
	input[type="text"], input[type="tel"]
		width: 100%
		border: none
		background-color: rgba(255,255,255,.9)
		padding: 10px 20px
		font-size: 1.125em
		margin-bottom: 20px
		opacity: 0.9
		min-height: 50px
		border-radius: 4px
	input[type="text"]:focus, input[type="tel"]:focus
		opacity: 1
	.btn
		background-color: $accent
		border: 1px solid $accent
		width: 100%
		height: 50px
		color: #333
		font-weight: bold
		cursor: pointer
		text-transform: uppercase
		&:hover
			background: none
			color: $accent
// END POPUP

// ABOUT
.about
	padding: 59.5px 0
	a.logo
		font-size: 44px
		line-height: 48px
		text-transform: capitalize
		letter-spacing: -0.95px
		margin-bottom: 24px
		margin-left: -13px
	h3
		font-weight: bold
		letter-spacing: -0.95px
		font-size: 1.500em
		margin-bottom: 18px
	p
		line-height: 1.48
		opacity: 0.8
	.about-item
		margin-bottom: 40px
		.icon-plus
			color: $accent
			width: 33px
			height: 33px
			border-radius: 50%
			border: 1px solid $text
			font-weight: 300
			font-size: 24px
			letter-spacing: 3.5px
			text-transform: uppercase
			line-height: 1.4
			text-align: center
			padding-left: 3px
			margin-bottom: 7px
		h4
			font-size: 1.125em
			margin-bottom: 8px
		p
			margin-bottom: 0
// END ABOUT

// FOOTER
.main-footer
	background-color: #333
	height: 149px
	padding: 36px 0 35px
	a
		color: #fff
	a.logo
		float: left
	.footer-nav
		padding-top: 23px
		float: right
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: inline-block
				margin-left: 60px
				&:first-child
					margin-left: 0
				a
					font-weight: bold
					font-size: 1.125em
					&::after
						content: ''
						display: block
						width: 0
						height: 1px
						background-color: #fff
						transition: $trans
					&:hover::after
						width: 100%
// END FOOTER

// OTHER STYLE
.blur
	-webkit-filter: blur(1.5px)
a.btn
	border: none
	display: inline-block
	background-color: $accent
	border-radius: 4px
	box-shadow: 0px 4px 30px rgba(239, 180, 49, 0.3)
	font-weight: bold
	font-size: 1.250em
	line-height: 1
	padding: 18px 76.6px
	transition: $trans
	&:hover
		background: $text
		color: $accent
		transform: scale(1.02, 1.02)
a.logo
	display: inline-block
	font-weight: 900
	text-transform: uppercase
	font-size: 1.500em
	line-height: 1
.aligncenter
	text-align: center
.section-title
	font-weight: 900
	line-height: 1.09
	font-size: 2.750em
	margin-bottom: 12px
.sub-title
	line-height: 1.58
	opacity: 0.8
#ya-map
	height: 279px
	[class*="ymaps-2"][class*="-ground-pane"]
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
		-webkit-filter: grayscale(100%)
// END OTHER STYLE

@import "media" // Always at the end
